.login-logo {
  font-size: 25px;
}

.login-logo small {
  font-size: 12px;
}

.background-image {
  background: url('../img/background.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-top: -7%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  z-index: 2;
  position: absolute;
}

.login-box {
  z-index: 10;
  position: relative;
}
