#map-canvas{
  width: 100%;
  min-height: 100vh;
  margin-bottom: 15px;
  border: 2px solid #fff;
}

.box-body #map-canvas{
  width: 100%;
  min-height: 60vh;
  margin-bottom: 15px;
  border: 2px solid #fff;
}
